<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - %% config.APP_NAME %% </title>
</head>
<body>
    <script src="https://unpkg.com/vue@next"></script>

    
    
    <div id="app">
        <h2>Simple shopping list app</h2>
        To use it enter a token or click the generate a token button.
        <p>Current state is {{state}}</p>
        <component :is="state">
        </component>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script>
    // State for handling which component should be used in which state
    const States = {
        SearchToken : "find-token",
        SelectingList : "shopping-carts",
        FoundAndSelectList : "FoundAndSelectList"
    }
    const lists = {
        data() {
            return {
                state: States.SearchToken, // Start in 
                token: null,
                lists: null
            }
        },
        methods: {
            updateLists(token) {
                axios
                    .get('/api/shoppingcarts/'+token)
                    .then(response => {
                        this.lists = response.data
                        this.token = token
                        this.state = States.SelectingList
                        console.log(this.lists)
                    })
                    .catch((err) => this.message = err)
            },
            clearLists(){
                console.log(this.lists)
                this.lists = null
                this.token = null
            }

        }
    }
    const app = Vue.createApp(lists)

    app.component('find-token', {
        //emits: ["updateLists"],
        template: `
            <div style="padding: 10px">
                <input type="text" v-model="token">
                <input type="submit" value="Find token" @click="$parent.updateLists(token)">
                <p v-if="message"> {{message}}</p>
            </div>
        `
    })

    app.component('shopping-carts', {
        template: `
            <ol>
                <li v-for="list in $parent.lists">{{list.name}}</li>
            </ol>
        `
    })
    
    app.mount('#app')
    
    </script>

</body>
</html>